@*CONTACT*@
<section class="section" id="contact-us">
    <div class="container-fluid">
        <div class="row">
            <!-- ***** Contact Map Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="map">
                    <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.915016781071!2d107.08000591523398!3d10.348680192612617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31756fec40a8e19d%3A0x1c99e485c14b2601!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6AgUuG7i2EgLSBWxaluZyBUw6B1!5e0!3m2!1svi!2s!4v1604847309210!5m2!1svi!2s" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- ***** Contact Map End ***** -->
            <!-- ***** Contact Form Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Full Name" required="" class="contact-field">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" id="email" placeholder="E-mail" required="" class="contact-field">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" id="message" placeholder="Your Message" required="" class="contact-field"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Send It</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ***** Contact Form End ***** -->
        </div>
    </div>
</section>